@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";
@import "spacing.scss";
@import "common.scss";
@import "../scss/components.scss";

.multi-line-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }